body {background-color: rgb(41, 12, 233)}
body {
    text-align: center;

}
body {
    font-family: fantasy;
}

.pet {
    font-family: fantasy;
}

.wand, .pet {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}


ul {
    list-style: none;
}
