body {background-color: rgb(41, 12, 233)}
body {
    text-align: center;

}
body {
    font-family: fantasy;
}

.pet {
    font-family: fantasy;
}

.wand, .pet {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}


ul {
    list-style: none;
}
body {
    font-family: fantasy;
}

/* Add a gray 1px solid border around the table, th, and td elements */
table, th, td {
    border: 1px solid gray;
}

/* Center the table on the page */
table {
    margin: 0 auto;
}
/* In your main.css file */
.cabbage {
    color: CHARTREUSE;
}
