body {background-color: rgb(41, 12, 233)}
body {
    text-align: center;

}
body {
    font-family: fantasy;
}

.pet {
    font-family: fantasy;
}

.wand, .pet {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}


ul {
    list-style: none;
}
body {
    font-family: fantasy;
}


table, th, td {
    border: 1px solid gray;
}


table {
    margin: 0 auto;
}

.cabbage {
    color: CHARTREUSE;
}
